mat-card 
{
    display: flex;
    flex-direction: column;
    width: 30%;

    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10%;
}

form
{
    display: flex;
    flex-direction: column;

}